In [1]:
import cdsapi
import pandas as pd
import os 
import json

In [2]:
df = pd.read_excel('../tambon.xlsx')
filtered_df = df[df['AMPHOE_T'].str.contains('อ. จะแนะ', na=False)]
row_fltered_df = filtered_df.shape[0]
filtered_df = filtered_df.tail(1)
filtered_df

,AD_LEVEL,TA_ID,TAMBON_T,TAMBON_E,AM_ID,AMPHOE_T,AMPHOE_E,CH_ID,CHANGWAT_T,CHANGWAT_E,LAT,LONG
2794,4,961204,ต. ช้างเผือก,Chang Phueak,9612,อ. จะแนะ,Chanae,96,จ. นราธิวาส,Narathiwat,5.997,101.573

In [3]:
for j in range(4,5):
    DIR_OUTPUT = f'../Chanae-Data/{j}nc/'
    os.makedirs(DIR_OUTPUT, exist_ok=True)
    if j == 1:
        year = '2021'
    elif j == 2:
        year = '2022'
    elif j == 3:
        year = '2023'
    elif j == 4:
        year = '2024'
    # year = str(2020+j)
    c = cdsapi.Client()
    for i, data in filtered_df.iterrows():
        data['TAMBON_E'] = data['TAMBON_E'].replace(' ','-')
        print(f"\nDownloading {data['TAMBON_E']}-{data['CHANGWAT_E']} ({data['LAT']}, {data['LONG']})")
        c.retrieve(
            'reanalysis-era5-single-levels',
            {
                'product_type': 'reanalysis',
                'format': 'netcdf',
                'variable': [
                    '10m_u_component_of_wind', '10m_v_component_of_wind', '2m_dewpoint_temperature',
                    '2m_temperature', 'downward_uv_radiation_at_the_surface', 'evaporation',
                    'soil_temperature_level_1', 'surface_pressure', 'total_precipitation',
                ],
                'year': year,
                'month': [str(i) for i in range(1, 13)],
                'day': [str(i) for i in range(1, 32)],
                'area': [
                    data['LAT'], data['LONG'], data['LAT'],data['LONG'],
                ],                      
                'time': [
                    '00:00', '06:00', '12:00',
                    '18:00',
                ],
            },
            f'{DIR_OUTPUT}{data['TAMBON_E']}.nc')

Downloading Chang-Phueak-Narathiwat (5.997, 101.573)

2024-06-03 19:32:02,236 INFO Welcome to the CDS
2024-06-03 19:32:02,236 INFO Sending request to https://cds.climate.copernicus.eu/api/v2/resources/reanalysis-era5-single-levels
2024-06-03 19:32:02,716 INFO Request is queued